body{
    background-color: aliceblue;
}
img{
    max-width: auto;
    max-height: 100%;
    border:3px solid black;;
    border-radius: 75px;
    
}
header{
    background-color: lightskyblue;
    font-size: 40px;
    border-radius: 10px;
    font-family: consolas;
    margin: 8px;
}
h2{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.person{
    text-align: center;
    height: 150px;
}
.name{
    text-align: center;
    margin: 0px 42% 0px 42%;
}
.email{
    text-align: center;
    margin: 0px 42% 0px 42%;
}
.passWord{
    text-align: center;
    margin: 0px 42% 0px 42%;
}
.enviar{
    text-align: center;
    margin: 0px 42% 0px 42%;
}